
html {
    padding: 0;
    margin: 0;
    overflow: hidden;
    /*user-select: none;*/
    /*background-color: #83848c;*/
    background-color: #000;
}

#main {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    opacity: 0.8;
}

.m-bottom:before {
    display: block;
    position: absolute;
    content: "";
    /*background-image: url('4/newBottom.png');*/
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(1.414) translate(14%, 14%) rotate(9deg);
}

.m-top:before {
    display: block;
    position: absolute;
    content: "";
    /*background-image: url('4/newTop.png');*/
    background-image: url('/images/stage/top.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#000;

    /*background-color: #f00;*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*transform: scale(1.414) translate(14%, 14%) rotate(0deg);*/
}

body {
    width: 100vw;
    height: 100vh;
    /*user-select: none;*/
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.m-rain-drop {
    background-size: contain;
    background-position: center;
    background-color: transparent !important;
    opacity: 0.7 !important;
    transition: all ease .3s;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.m-rain-drop:before {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: contain;
    background-position: center;
    background-color: transparent !important;
    background-repeat: no-repeat;
    transition: opacity linear 1s;
    opacity: 0;
}

.m-rain-drop.hovering:before {
    animation: water 0.8s linear forwards !important;
}

.m-rain-drop.hovering:after {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: contain;
    background-position: center;
    background-color: transparent !important;
    background-repeat: no-repeat;
    opacity: 1;
}

.m-rain-drop.visited:not(.hovering) {
    opacity: 0.8 !important;
    -webkit-filter: saturate(33%);
    filter: saturate(33%);

}

.m-sky-pano {
    background-size: 100%;
    background-color: #000;
    background-position: center;
    /*background-image: none !important;*/
    text-align: center;
}

.m-sky-pano:before {
    /*content: "";*/
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.m-sky-pano:after {
    /*content: "这是背景图片";*/
    display: inline-block;
    vertical-align: middle;
    color: tomato;
    font-size: 40px;
    margin: auto;
    width: 0px;
}

@keyframes water {
    0% {
        transform: scale(0.95);
        opacity: 1;

    }
    70% {
        transform: scale(1.5);
        opacity: 0.1;
    }
    100% {
        transform: scale(1.8);
        opacity: 0;
    }
}

@keyframes waterFlow {
    0% {
        transform: translate(0%, 0%) scale(1)
    }
    20% {
        transform: translate(-3%, 0%) scale(1.1)
    }
    40% {
        transform: translate(2%, 2%) scale(1.05)
    }
    60% {
        transform: translate(-4%, -4%) scale(0.98)
    }
    80% {
        transform: translate(0%, 4%) scale(1.03)
    }
    100% {
        transform: translate(0, 0) scale(1)
    }
}

#loading-text {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 2;
    padding-top: 40vh;
    box-sizing: border-box;
    font-size: 28px;
    background-color: #fff;
    color: #000;
    z-index: 1000000;
    transition: opacity ease-out 1s;
}
